.body{
    background: #DCD6D6;
    }
.heading{
    text-align: center;
    font-family: Impact, "Haettenschweiler", 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
}

.subheading{
    /* text-align: center; */
    background-color: #bcb6b9;
}
.himg {
    border-radius: 6%;
  }
.center{
    text-align: center;
}
.background{
    background-color: beige;
}
.img{
    border-radius: 10%;
}
.footer{
    text-align: center;
}