.about{
  margin: 5% 25%;
  text-align: center;
}
.about h4{
  padding: 0.3em 0;
}
.about a{
  text-decoration: none;
}
/*.aboutMain a{*/
/*    text-decoration: none;*/
/*}*/
#AboutTab {
  display: none;
  padding: 2% 5%;
  text-align: center;
  background-color: lightblue;
  margin-top: 20px;
  border-radius: 0.4em;
}
.aboutImg{
  height: 4em;
  width: 4em;
  border-radius: 2em;
}
.aboutTile{
  border-bottom: 1px solid white;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1em 30%;
}
#AboutTab a{
  color: white;
  text-decoration: none;
}
@media screen and (max-width: 768px){
  .aboutTile{
    padding: 1em 20%;
  }
}
@media screen and (max-width: 425px){
  .aboutTile{
    padding: 1em 2%;
  }
  #AboutTab {
    width: 100%;
  }
  .about{
    margin: 5% 15%;
  }
  .aboutMain{
      margin-top: 2.5em;
  }
}