@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
* {
  margin: 0;
  padding: 0;
  }
.body{
  /* background-color: #000000; */
  /* background-color: black; */
  font-family: 'Nunito', sans-serif;
  color: white;
  /* background-image: url(/img/iphone11pro.jpg); */
  width: 100%;
  /* height: auto; */
  background-repeat: no-repeat;
  background-size: cover;
}
.header{
  background-color: black;
}
.heading{
  font-weight: bolder;
}
.padding{
  /* padding-left: 10vh; */
  text-align: center;
}
.ulpadding{
  padding: 2rem;
  list-style-type: none;
}
.input{
  width: 90%;
  /* background-image: url("/img/search.svg"); */
  margin: 1.5rem;
  /* display: inline-block; */
  margin-left: auto;
  margin-right: auto;
  background-color: #1E1E1E;
  color: white;
  display: block;
  border: 0.0001em;
  height: 3em;
  background-repeat: no-repeat;
}
.logo{
  padding-left: 50%;
}
.sec{
  text-align: center;
  background-image: url("../img/iphone11pro.jpg");
  background-position: center center;
  height: 30em;
  /* width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover; */ 
}
.par{
  color: grey;
}
.sec2{
  background-color: aqua;
  text-align: center;
  color: black;
  margin-bottom: 1rem;
  background-image: url("../img/iphone11.jpg");
  background-position: center center;
  height: 25em;
  margin-top: 1.5rem;
}
.sec3{
  background-color: aqua;
  text-align: center;
  color: black;
  margin-bottom: 1rem;
  background-image: url("../img/applewatch.jpg");
  background-position: center center;
  height: 25em;
}
.a{
  text-decoration: none;
}

.tdecor{
  /* display: block; */
  /* text-decoration: underline; */
  /* width: 100%; */
  /* border-bottom: 1rem; */
  border-bottom: 0.001em solid white;
  padding-bottom: 1.5rem;
  padding-top: 0.5rem;
}
.a2{
  color: white;
}
